{% extends 'base/content.html' %}
{% load image_filter %}
{% block title %}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center py-5">
        <h3 class="font-weight-bold">Просмотр списка блогов</h3>
        <p class="lead my-4">Блоги</p>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">

<div class="col-3 mb-2" >
<div class="card" style="width: 18rem;">
  <img src="{{ object.image|img_filter }}" class="card-img-top" alt="{{ object.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ object.name }}</h5>
<p class="card-text">{{ object.created_at }}</p>
<p class="card-text">{{ object.updated_at }}</p>
<p class="card-text">{{ object.count_view }}</p>
    <p class="card-text">{{ object.description|truncatechars:100 }}</p>
  </div>
   <div class="card-body">
       <a href="{% url 'blogs:delete_blogs' blog.pk %}" class="card-link">Удалить</a>
       <a href="{% url 'blogs:update_blogs' blog.pk %}" class="card-link">Редактировать</a>
    </div>
</div>
</div>

</div>
{% endblock %}
