{% extends 'base/content.html' %}
{% load image_filter %}
{% block title %}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center py-5">
        <h3 class="font-weight-bold">Создание продукта</h3>
        <p class="lead my-4">Новый продукт</p>
    </div>
</div>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать</button>
    <a href="/" class="btn">Отменить</a>
</form>
{% endblock %}
