{% extends 'base/content.html' %}
{% block title %}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center py-5">
        <h3 class="font-weight-bold">Удаление продукта</h3>
        <p class="lead my-4">{{ object.name }}</p>
    </div>
</div>
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {% if perms.catalog.can_delete_product %}
  <button type="submit">Удалить</button>
    {% endif %}
  <a href="/" class="btn">Отменить</a>
</form>
{% endblock %}
