{% extends 'base/content.html' %}
{% load image_filter %}
{% block title %}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center py-5">
        <h3 class="font-weight-bold">Просмотр деталей товара</h3>
        <p class="lead my-4">Товар</p>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="card" style="width: 18rem;">
  <img src="{{ product.image|img_filter }}" class="card-img-top" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description|truncatechars:100 }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ product.category }}</li>
    <li class="list-group-item">{{ product.purchase_price }}</li>
    <li class="list-group-item">{{ product.created_at|date:'d M Y' }}</li>
    <li class="list-group-item">{{ product.updated_at|date:'d M Y' }}</li>
  </ul>
</div>
{% endblock %}
