{% extends 'base/content.html' %}
{% load image_filter %}
{% block title %}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center py-5">
        <h3 class="font-weight-bold">Список продуктов!</h3>
        <p class="lead my-4">Список продуктов нашей компании.</p>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
{% for product in object_list %}
<div class="col-3 mb-2" >
<div class="card" style="width: 18rem;">
  <img src="{{ product.image|img_filter }}" class="card-img-top" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description|truncatechars:100 }}</p>
  </div>
   <div class="card-body">
    <a href="{% url 'catalog:detail_product' product.pk %}" class="card-link">Подробнее</a>
       {% if perms.catalog.can_delete_product %}
    <a href="{% url 'catalog:update_product' product.pk %}" class="card-link">Обновить</a>
       {% endif %}
    <a href="{% url 'catalog:delete_product' product.pk %}" class="card-link">Удалить</a>
    </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}
